@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta{
    padding: 1rem 1rem 1rem 2rem;
    text-transform: uppercase;
    font-weight: 900;
    margin: 1rem 0;
    font-size: 1.2rem;
    max-width: 80rem;
    &.error{
        background-color: lighten(v.$rojo, 50%);
        border-left: .5rem solid v.$rojo;
        color: v.$rojo;
    }
    &.exito{
        background-color: lighten(rgb(30, 255, 0), 40%);
        border-left: .5rem solid rgb(96, 214, 0);
        color: rgb(96, 214, 0);
    }

}