// Fuentes
$fuente_headings: 'Inter', sans-serif;
$fuente_textos: 'Open Sans', sans-serif;
$fuente_principal: 'Lato', sans-serif;

// Tamaño de Media Queries
$telefono: 320px;
$tablet: 768px;
$desktop: 1023px;

// Colores
$cyan: #0891B2;
$azul: #2563EB;
$amarillo: #E08709;;
$verde: #71B100;
$indigo: #4338CA;
$morado: #7C3AED;
$naranja:#f57c0b;
$rosa: #DB2777;
$main-c: goldenrod;

$blanco: #FFFFFF;
$gris: #6b7280;
$grisOscuro: #4B5563;
$negro: #000;

$rojo: rgb(169, 0, 0);
$verde: rgb(0, 120, 0);

$separacion: 5rem;