@use  'base/variables' as v;
@use 'base/mixins' as m;

.carrusel {
    margin-top: 3rem;
    p.centrado{
        text-align: center;
    }
}

.products{
    margin-top: 3rem;
    text-align: center;
    @include m.tablet{
        font-size: 2rem;
    }
}

.container-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    @include m.tablet{
        width: 100%;
        @include m.grid(5, 2rem)
    }
}

.producto{
    width: 25rem;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 38rem;
    padding: 1.5rem;

    .mini-desc{
        font-size: 1.3rem;
        align-items: center;

        .cart-b{
            background-color: v.$main-c;
            padding: 1rem;
            border-radius: 1rem;
            color: white;
            font-size: 1.3rem;
            display: inline-block;
            font-weight: 700;
            border: none;
            transition-property: background-color;
            transition-duration: .3s;
            text-align: center;
            display: block;
            width: 100%;
            @include m.tablet {
                width: 11rem;
                margin-left: 5.4rem;
            }
            &:hover {
                background-color: darken(v.$main-c, 10%) ;
                cursor: pointer;
            }
        }
        img.proto{
            width: 220px;
            height: 137px;
        }
    }

}